.sppro-admin-wrap { 
    margin: 0; 
    padding: 0; 
}

#wpbody-content { 
    padding: 0 !important; 
}

#wpfooter { 
    display: none !important; 
}

#root {
    margin-left: -20px !important;
}

* { 
    --paythor-content-height: calc(100vh - 32px)!important; 
} 